<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos de Medico</title>
</head>
<body>
    <header>
        <h1>Medico</h1>
    </header>
    <main>
    <h1>Présentation de l'application <strong>MEDICO</strong></h1>
    <p>Cette application permet de gérer les consultations médicales et les ordonnances.
        Cette application permet au médecin de suivre ses patient et d 'enregistrer les consultations de manière simple et organisée'
    </p>
    <p>
        Vous pouvez naviguer dans l'application pour ajouter,modifier ou supprimer des consultations,
        ainsi que consulter les détails de chaque traitement associé.
    </p>
    <P>L'interface a été conçue pour être intuitive et rapide à utiliser,tout en garantissant la sécurité et la confidentialité des informations des patients.</P>
    
</body>
</html>