{% extends 'medico/base.html' %}

{% block title %}À propos{% endblock %}

{% block content %}
    <h1>Présentation de l'application <strong>MEDICO</strong></h1>
    <p>Cette application permet de gérer les consultations médicales et les ordonnances.
        Elle permet au médecin de suivre ses patients et d'enregistrer les consultations de manière simple et organisée.
    </p>
    <p>
        Vous pouvez naviguer dans l'application pour ajouter, modifier ou supprimer des consultations,
        ainsi que consulter les détails de chaque traitement associé.
    </p>
    <p>L'interface est intuitive et rapide à utiliser, tout en garantissant la sécurité et la confidentialité des informations des patients.</p>
{% endblock %}