{% extends 'medico/base.html' %}

{% block title %}Confirmer la suppression{% endblock %}

{% block content %}
<div class="text-center mt-5">
    <h1>Confirmer la suppression</h1>
 <p>Voulez-vous vraiment supprimer la consultation de <strong>{{ consultation.patient_nom }} {{ consultation.patient_prenom }}</strong> ?</p>
 <div class="mt-3">
 <form method="post" style="display:inline;">
     {% csrf_token %}
     <button type="submit" class="btn btn-danger">Supprimer</button>
     </form>
     <a href="{% url 'liste_consultation' %}" class="btn btn-secondary">Annuler</a>
</div>
</div>
{% endblock %}
