<!DOCTYPE html>
<html>
<head>
    <title>Liste des Consultations</title>
</head>
<body>
    <h1>Liste des Consultations</h1>

    {% if consultations %}
    <table border="1" cellpadding="6" cellspacing="0">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Âge</th>
                <th>Date</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for consultation in consultations %}
            <tr>
                <td>{{ consultation.patient_nom }}</td>
                <td>{{ consultation.patient_prenom }}</td>
                <td>{{ consultation.patient_genre }}</td>
                <td>{{ consultation.patient_age }}</td>
                <td>{{ consultation.date_consultation }}</td>
                <td>{{ consultation.description|truncatechars:20 }}</td>
                <td>
                    <a href="{% url 'details_consultation' consultation.id %}">Voir détails</a> |
                    <a href="{% url 'effacer_consultation' consultation.id %}">Supprimer</a>
                    

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>Aucune consultation enregistrée.</p>
    {% endif %}

    <br>
    <a href="{% url 'about' %}">Retour à l'accueil</a>

</body>
</html>
