.slide-container {
  width: 100%;
  max-width: 900px; /* Ajustable */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
}

.slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.item {
  min-width: 100%;
  height: 400px; 
  background-size: cover;
  background-position: center;
  position: relative;
  flex-shrink: 0;
}

.item .content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: rgba(0,0,0,0.5);
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  max-width: 70%;
}

.item .name {
  font-size: 1.5rem;
  font-weight: bold;
}

.item .des {
  font-size: 1rem;
}

.button {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.button button {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
}
